In [10]:
import pandas as pd
from dbfread import DBF

df_list = []

for i in range(13, 24):
    file = DBF(f'data/DOPB20{i}.dbf', load=True)
    df = pd.DataFrame(file)
    df_list.append(df)

In [14]:
for df in df_list:
    display(df)

,CONTADOR,ORIGEM,TIPOBITO,CODMUNCART,CODCART,NUMREGCART,DTREGCART,DTOBITO,HORAOBITO,NATURAL,...,DIFDATA,STDOEPIDEM,STDONOVA,DTCADINV,TPOBITOCOR,DTCONINV,DTCADINF,MORTEPARTO,DTCONCASO,NUDIASOBIN
0,1,1,2,,,4998,02032013,02032013,2145,,...,131,0,0,,,,,,,
1,2,1,2,250420,,,,24112013,1900,,...,011,0,0,,,,,,,
2,3,1,2,,,,,08022013,1130,,...,026,0,0,,,,,,,
3,4,1,2,,,,,23032013,1400,,...,012,0,0,,,,,,,
4,5,1,2,,,,,30082013,0300,,...,034,0,0,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25921,25922,1,2,,,,,27122013,1340,,...,020,0,1,,,,,,,
25922,25923,1,2,,,,,23122013,0600,,...,010,0,1,,,,,,,
25923,25924,1,2,,,,,24122013,0200,,...,009,0,1,,,,,,,
25924,25925,1,2,,,,,20112013,,,...,355,0,1,,,,,,,
25925,25926,1,2,,,,,16072013,,,...,582,0,1,,,,,,,

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,01012014,,829,290320,06031939,474,1,...,,,,,,,,,XXXXXXX,
1,2,1,2,01012014,0145,825,250630,28121967,446,1,...,,,,,,,,,XXXXXXX,
2,3,1,2,01012014,1740,825,251150,12111949,464,1,...,,,,,,,,,XXXXXXX,
3,4,1,2,01012014,2115,825,250890,03091938,475,2,...,,,,,,,,,XXXXXXX,
4,5,1,2,01012014,2130,825,250400,29081941,472,1,...,,,,,,,,,XXXXXXX,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25235,25236,1,2,31122014,0125,825,250910,08011946,468,2,...,,,,,,,,,XXXXXXX,
25236,25237,1,2,31122014,0400,825,250750,15041934,480,2,...,,,,,,,,,XXXXXXX,
25237,25238,1,2,31122014,1730,825,251340,10121924,490,1,...,,,,,,,,,XXXXXXX,
25238,25239,2,2,25122014,,825,250720,06121965,449,1,...,,,,,,,,,XXXXXXX,
25239,25240,2,2,11122014,0014,825,250720,19061927,487,2,...,,,,,,,,,XXXXXXX,

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,11022015,2200,,,08121928,486,2,...,,,,,,,,,,
1,2,1,2,30042015,0430,,,30071941,473,1,...,,,,,,,,,,
2,3,1,2,23032015,0200,,,10041937,477,2,...,,,,,,,,,,
3,4,1,2,31032015,1300,,,30011930,485,1,...,,,,,,,,,,
4,5,1,2,27062015,2100,825,250000,26101919,495,1,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26417,26418,1,2,31122015,1300,800,,15121977,438,2,...,,,,,,,,,,
26418,26419,1,2,26122015,2020,825,250750,26122015,001,1,...,,,,,,18032016,1,,,1
26419,26420,1,2,10072015,0530,,,20081980,434,2,...,,,,,,,,,,
26420,26421,1,2,31072015,0630,825,250830,15011920,495,2,...,,,,,,,,,,
26421,26422,1,2,25102015,1830,825,250400,16041940,475,2,...,,,,,,,,,,

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,01012016,2300,825,250440,15111997,418,2,...,14042016,,1,M,,,,,,
1,2,1,2,01012016,0200,825,250400,25062014,401,2,...,,SXSSXX,,,,02052016,3,,,2
2,3,1,2,01012016,1705,825,250400,20101938,477,2,...,,,,,,,,,,
3,4,1,2,01012016,0730,825,250400,06061946,469,2,...,,,,,,,,,,
4,5,1,2,01012016,0300,825,250400,06031949,466,1,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28036,28037,2,2,21082016,1100,825,251140,15071941,475,1,...,,,,,,,,,,
28037,28038,2,2,09092016,1700,825,250153,05041944,472,1,...,,,,,,,,,,
28038,28039,2,2,11092016,1500,825,250153,02021929,487,2,...,,,,,,,,,,
28039,28040,2,2,03102016,1130,825,251110,28051929,487,2,...,,,,,,,,,,
28040,28041,2,2,13102016,1510,825,250110,24101930,485,1,...,,,,,,,,,,

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,12032017,2200,825,250440,17121977,439,2,...,,,,,,,,,,
1,2,1,2,06032017,1600,825,250340,16041960,456,1,...,,,,,,,,,,
2,3,1,2,12022017,0530,825,250340,01051962,454,1,...,,,,,,,,,,
3,4,1,2,28012017,0410,825,250340,10051925,491,2,...,,,,,,,,,,
4,5,1,2,18032017,1240,825,251370,20121971,445,1,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26970,26971,1,2,12122017,1242,825,251060,19091955,462,1,...,,,,,,,,,,
26971,26972,1,2,13122017,0025,825,250300,10061946,471,2,...,,,,,,,,,,
26972,26973,1,2,25122017,1310,825,251000,10031921,496,1,...,,,,,,,,,,
26973,26974,1,2,26032017,0013,825,251350,12081936,480,1,...,,,,,,,,,,
26974,26975,1,2,30032017,2030,825,251350,08111956,460,2,...,,,,,,,,,,

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,18012018,,,,11011923,495,1,4,...,,,,,,,,,,339
1,1,2,05022018,0500,,,01011952,466,1,4,...,,,,,,,,,,340
2,1,2,06032018,0930,800,,18101963,454,2,4,...,,,,,,,,,,387
3,1,2,31012018,2200,800,,01011930,488,1,4,...,,,,,,,,,,388
4,1,2,10022018,0730,800,,21101941,476,2,1,...,,,,,,,,,,389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26639,1,2,03092018,,825,250750,03051993,425,1,4,...,,,,,,,,,,1316550
26640,1,2,30082018,,826,261160,12031990,428,1,4,...,,,,,,,,,,1316551
26641,1,2,14052018,,825,250400,23041978,440,1,4,...,,,,,,,,,,1316552
26642,1,2,03092018,,825,250800,29012001,417,1,4,...,,,,,,,,,,1316553
26643,1,2,06082018,,825,251370,15091972,445,1,4,...,,,,,,,,,,1316554

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,17012019,1030,,,30011997,421,1,4,...,,,,,,,,,,256
1,1,2,05012019,1630,825,251160,21061973,445,1,1,...,,,,,,,,,,257
2,1,2,22022019,1100,825,250150,17011970,449,1,4,...,,,,,,,,,,509
3,1,2,24022019,1800,825,251370,11041972,446,1,2,...,,,,,,,,,,510
4,1,2,28022019,2015,825,250400,09071982,436,1,4,...,,,,,,,,,,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27373,1,2,03102019,1800,825,251690,20041945,474,2,4,...,,,,,,,,,,1378084
27374,1,2,24092019,1550,825,251690,23031950,469,1,4,...,,,,,,,,,,1378085
27375,1,2,29052019,0600,825,251480,10061935,483,2,4,...,,,,,,,,,,1378708
27376,1,2,04112019,1600,825,251480,01011936,483,2,4,...,,,,,,,,,,1378709
27377,1,2,21112019,0100,825,251480,18101936,483,2,4,...,,,,,,,,,,1378710

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,26032020,2240,825,251340,17011926,494,1,4,...,,,,,,,,,,269
1,1,2,25032020,2240,825,250450,09091962,457,1,4,...,,,,,,,,,,270
2,1,2,21032020,0342,826,260250,22061943,476,2,4,...,,,,,,,,,,271
3,1,2,21032020,0355,825,251260,09061944,475,2,4,...,,,,,,,,,,272
4,1,2,21032020,1355,825,251080,28081938,481,1,4,...,,,,,,,,,,273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31102,2,2,03102020,0100,825,251150,21081936,484,2,4,...,,,,,,,,,,1555861
31103,2,2,05102020,1420,826,260765,27091945,475,2,4,...,,,,,,,,,,1555862
31104,2,2,08102020,0310,825,251150,23061953,467,1,4,...,,,,,,,,,,1555863
31105,2,2,25042020,2252,825,251150,17121977,442,2,4,...,,,,,,,,,,1555864
31106,2,2,14102020,1509,825,250690,02031951,469,2,,...,,,,,,,,,,1555865

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,16082021,1130,825,251460,06061920,501,1,4,...,,,,,,,,,,154
1,1,2,25022021,0840,825,251680,11011961,460,2,4,...,,,,,,,,,,500
2,1,2,01032021,1615,825,250070,01011935,486,1,4,...,,,,,,,,,,501
3,1,2,03032021,1400,825,251680,12051976,444,1,1,...,,,,,,,,,,502
4,1,2,12032021,2100,825,250750,04101972,448,2,4,...,,,M,,,,,,,548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34673,1,2,11072021,0220,825,250320,26021974,447,1,4,...,,,,,,,,,,1831966
34674,1,2,10072021,1640,825,250100,02071929,492,2,4,...,,,,,,,,,,1831967
34675,1,2,10072021,1635,825,250490,17021947,474,1,4,...,,,,,,,,,,1831968
34676,1,2,11072021,0245,825,250077,13121967,453,2,4,...,,,,,,,,,,1831969
34677,1,2,06072021,0316,825,251455,29121946,474,2,1,...,,,,,,,,,,1832132

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,02022022,0420,825,250240,25021940,481,2,4,...,,,,,,,,,,224
1,1,2,04052022,1300,825,250080,15021958,464,1,4,...,,,,,,,,,,551
2,1,2,08052022,1800,825,250080,15061940,481,1,4,...,,,,,,,,,,925
3,1,2,19052022,1500,825,250080,25121932,489,2,4,...,,,,,,,,,,926
4,1,2,29052022,1347,825,250080,24081941,480,1,4,...,,,,,,,,,,1244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32400,2,2,05112022,0500,825,250610,18121937,484,1,2,...,,,,,,,,,,1543954
32401,2,2,10112022,0858,826,260400,16051945,477,1,4,...,,,,,,,,,,1543955
32402,2,2,12112022,1800,825,250150,15101932,490,1,1,...,,,,,,,,,,1543956
32403,2,2,17112022,2000,825,250610,12021924,498,1,,...,,,,,,,,,,1543957
32404,2,2,13122022,0830,825,250610,16041989,433,2,1,...,,,,,,,,,,1543958

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,14022023,0050,825,250680,05101935,487,2,4,...,,,,,,,,,,116
1,1,2,14022023,0323,825,250780,15051945,477,1,1,...,,,,,,,,,,169
2,1,2,17022023,,825,250400,28031955,467,1,4,...,,,,,,,,,,210
3,1,2,17022023,1830,825,250040,17091927,495,1,4,...,,,,,,,,,,211
4,1,2,01012023,1650,825,250750,20021945,477,2,4,...,,,,,,,,,,534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28729,1,2,31122023,1500,825,251340,31071972,451,1,2,...,,,,,,,,,,1463163
28730,1,2,31122023,1300,825,250780,05041967,456,2,4,...,,,,,,,,,,1463164
28731,1,2,31122023,,825,250090,21011926,497,2,2,...,,,,,,,,,,1463183
28732,1,2,31122023,0920,825,250940,20021922,501,1,1,...,,,,,,,,,,1463189
28733,2,2,08122023,1820,825,251080,24031967,456,2,4,...,,,,,,,,,,1463311